body {
    background-image: url("../images/mountain_dark.png");
    background-size: 100vw 80vh;
    background-repeat: no-repeat;
}

.top_section {
    display: flex;
    justify-content: space-around;
    margin-top: 65vh;
    flex-wrap: wrap;
}

.top_section .main_heading {
    font-size: 52px;
    font-weight: 700;
    font-family: 'Libre Baskerville', sans-serif;
    color: #f0ba00;
    margin-right: 30vw;
}

.clickable {
    background-color: antiquewhite;
    margin-top: auto;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    margin-bottom: 5px;
}

.clickable a {
    color: black;
}

.clickable:hover {
    font-size: 15px;
    color: brown;
    transition: .1s;
}

.share:hover {
    cursor: pointer;
}

.share_link.share_open{
    display: none;
}

.share_link {
    display: flex;
    text-align: center;
    font-size: 35px;
    background-color: rgba(0, 20, 20, .1);
    width: 125px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 10px;
}

.facebook {
    color: #3b5998;
}

.twitter {
    color: #55acee;
}

.linkedin {
    color: #0077b5;
}

.reddit {
    color: #cb2027;
}

#overview {
    color: black;
    margin: 0vh 10vw 0 10vw;
    font-size: 30px;
    text-align: justify;
    scroll-margin-top: 33vh;
}

.sub_heading {
    margin-top: 14vh;
    margin-bottom: 5vw;
}

#gallery {
    scroll-margin-top: 29vh;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 3vw;
}


.row img {
    width: 85%;
    padding: 5px;
    margin: auto;
    margin-bottom: 15px;
}

.row img:hover {
    transform: scale(1.09);
    transition: .4s;
    border-radius: 20px;
}

form{
    width: 350px;
    float: right;
}

@media (max-width: 1400px) {
    
    .share{
        margin-top: 4vh;
    }

    form{
        float: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0;
        padding: 0;
        margin:auto;
        justify-content: space-between;
    }

    .top_section {
        display: flex;
        justify-content: space-around;
        margin-top: 69vh;
        flex-wrap: wrap;
    }

    .top_section .main_heading {
        margin: auto;
        background-color: rgba(0, 20, 20, .3);
        width: 100%;
        text-align: center;
    }

    .sub_heading{
        margin-top: 5vh;
    }

    #overview{
        font-size: 25px;
    }

    body{
        background-size: contain;
    }

}

@media (max-width: 1067px) {
    .top_section {
        display: block;
        margin-top: 40%;
    }

    .row {
        grid-template-columns: 1fr;
        
    }
}

@media (max-width: 850px) {
    .top_section {
        margin-top: 35%;
    }
}

@media (max-width: 610px) {
    .top_section {
        margin-top: 30%;
    }

    .top_section .main_heading {
        font-size: 40px;
    }

    .sub_heading {
        font-size: 32px;
    }

    #overview {
        font-size: 20px;
    }
}