body{
    background-image: url("../images/mountain_dark.png");
    background-size: 100vw 80vh;
    background-repeat: no-repeat;
    
}


.top_section {
    display: flex;
    justify-content: space-around;
    margin-top: 70vh;
    flex-wrap: wrap;
}


.top_section .main_heading{
    font-size:52px;
    font-weight: 700;
    font-family: 'Libre Baskerville', sans-serif;
    color: #f0ba00;
    margin-right: 20vw;
}


.clickable{
    background-color: antiquewhite;
    margin-top: auto;
    border-radius: 20px;
    width: 10vw;
    height: 5vh;
}

.clickable a{
    color: black;
}

.clickable:hover{
    font-size: 15px;
    
}

.share{
    margin-left: 1vw;
}


#overview{
    color: black;
    margin: 5vh 10vw 0 10vw;
    font-size: 30px;
    text-align: justify;
    text-justify: inter-word;
    scroll-margin-top: 26vh;
}

.sub_heading {
    margin-top: 14vh;
    font-size: 52px;
    font-weight: 700;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
}

#gallery{
    scroll-margin-top: 20vh;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 50px;
}

.column {
    flex: 25%;
}

.column img {
    margin: 0;
    padding: 5px;
    width: 100%;
    border-radius: 12px;
}

.column img:hover{
    background-color: #c26c07;
    transition: .4s;
    border-radius: 20px;
}