.sub_heading {
    margin-top: 15vh;
    margin-bottom: 6vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px black solid;
    width: 50vw;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
}

input {
    width: 200px;
    height: 30px;
    margin-bottom: 25px;
    padding-left: 5px;
    font-size: 20px;
    background-color: antiquewhite;
}

label {
    margin-bottom: 12px;
    font-size: 25px;
}

button {
    background-color: antiquewhite;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    margin-bottom: 30px;
}

.gender {
    display: flex;
    width: 45%;
    display: inherit;
    line-height: 35px;
}

.login {
    text-align: center;
    margin-bottom: 12px;
}

.login_link a {
    padding-left: 2px;
    padding-right: 2px;
}

.loginBtn:hover {
    font-size: 15px;
    color: brown;
    transition: .1s;
}

.clickables a:visited {
    color: black
}

.clickables a:hover {
    font-size: 15px;
    color: brown;
    transition: .1s;
}
