/* Registration Page */

/* Sub heading */
.sub_heading {
    margin-top: 15vh;
    margin-bottom: 6vh;
}

/* Form */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px black solid;
    width: 60vw;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
}

/* Input style */
input{
    width: 200px;
    height: 30px;
    margin-bottom: 25px;
    padding-left: 5px;
    font-size: 20px;
    background-color: antiquewhite;
}

/* Label style */
label{
    margin-bottom: 12px;
    font-size: 25px;
}

/* Button */
.register_button{
    background-color: antiquewhite;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    margin-bottom: 20px;
}

/* Gender radio button */
.gender{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/* Login button */
.login{
    text-align: center;
    margin-bottom: 12px;
}

/* Link in login button */
.login a{
    background-color: antiquewhite;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    padding: 10px;
    border: 2px solid black;
}

/* Login button when visited */
.login a:visited{
    color:black
}

/* Login button when hovered */
.login a:hover{
    color: #c26c07;
    transition: .2s;
}

/* Responsive under 820px */
@media (max-width: 820px) {
    /* Gender radio button */
    .gender {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
}