.services{
    margin-top: 15vh;
}

section .availability{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section .mini_heading{
    margin-top: 5vh;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 25px;
}

section .lists{
    margin-top: 35px;
    line-height: 35px;
    font-size: 20px;
}

section .amenity li{
    list-style: none;
}

.sub_heading{
    margin-top: 6vh;
}

.price{
    text-align: center;
}

.hosts .lists{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.lists .name_pic img{
    width: 400px;
    height: 600px;
    object-fit: cover;
    padding-top: 50px;
}

.confirm{
    background-color: antiquewhite;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.confirm a{
    text-decoration: none;
    color: black;
}

.confirm a:hover {
    font-size: 15px;
    color: brown;
    transition: .1s;
}

.review_all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    font-size: 25px;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 2vh;
    gap: 150px;
}

.review_all .fa-solid{
    color: #f0ba00;
}

.review_all .review_text{
    font-weight: 100;
    font-style:italic;
}

@media (max-width: 1450px) {
    .hosts .lists {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .review_all {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        font-size: 25px;
        text-align: center;
        gap: 50px;
    }
    
}

@media (max-width: 900px) {
    .hosts .lists {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .availability{
        flex-direction: column;
        text-align: center;
    }
}