.services{
    margin-top: 15vh;
}

section .availability{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section .mini_heading{
    margin-top: 5vh;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 25px;
}

section .lists{
    margin-top: 35px;
    line-height: 35px;
    font-size: 20px;
}

section .amenity li{
    list-style: none;
}

.sub_heading{
    margin-top: 6vh;
}

.price{
    text-align: center;
}

.hosts .lists{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.lists .name_pic img{
    width: 20vw;
    height: 45vh;
    object-fit: cover;
    padding-left: 15px;
    padding-right: 15px;
}

.confirm{
    background-color: antiquewhite;
    margin-top: auto;
    border-radius: 20px;
    width: 10vw;
    height: 5vh;
    margin-left: 75vw;
    margin-bottom: 1vh;
}

.confirm a{
    text-decoration: none;
    color: black;
}

.confirm a:hover {
    font-size: 15px;
    color: brown;
    transition: .1s;
}