*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

header{
    background-color: #F25B47;
    padding-bottom: 10px;
}

#logo{
    width: 10vw;
    border-radius: 2vw;
    padding: 1vw;
    background-color: #411111;
    margin-top: 1vw;
    margin-left: 2vw;
}