*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
}

body{
    background-color:  rgba(0, 20, 20, .3);
}

nav{
    background-color: rgba(0, 20, 20, .3);
    height: 12vh;
    width: 100%;
}

nav #logo{
    width: 9vw;
}

nav ul{
    float: right;
    margin-right: 2vw;
    margin-top: 4vh;
}

.nav_site{
    display: inline-block;
}

.nav_site a{
    color: wheat;
    font-size: 33px;
    margin-right: 2vw;
    text-transform: uppercase;
}

.nav_site a:hover{
    color: #c26c07;
    transition: .4s;
}