* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: rgba(0, 20, 20, .3);
}

header {
    background-color: rgba(0, 20, 20, .3);
    height: 12vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}

nav #logo {
    width: 9vw;
    margin-top: 1vh;
    margin-left: 2vw;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav_site {
    display: inline-block;
}

.nav_site a {
    color: wheat;
    font-size: 33px;
    margin-right: 2vw;
    text-transform: capitalize;
}

.nav_site a:hover {
    color: #c26c07;
    transition: .4s;
}

.login_register a {
    color: #f0ba00;
}

.sub_heading {
    font-size: 52px;
    font-weight: 700;
    font-family: 'Libre Baskerville', sans-serif;
    text-align: center;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(0, 20, 20, .3);
}

footer .footer_section {
    list-style: none;
}

footer .footer_section a {
    color: black;
}

footer .footer_section a:hover {
    color: darkblue;
    transition: .3s;
}

footer .footer_section .footer_main {
    font-size: 18px;
    font-family: 'Libre Baskerville', sans-serif;
    line-height: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
}

footer .footer_section .footer_sub {
    font-size: 12px;
    line-height: 25px;
}

footer .copyright {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 900;
}

footer .footer_section .fa-brands {
    margin-right: 10px;
}