*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}


#logo {
    margin: 8vh 20vw 0 0;
    width: 10vw;
}

nav ul{
    display: flex;
    justify-content: flex-end;
}


nav ul a{
    text-decoration: none;

}

.nav_site{
    background-color: #f0ba00;
    list-style: none;
    width: 10vw;
    text-align: center;
    padding: 0.50vh;
    border-radius: 8px;
    border-style:solid;
    border-color: #303E27;
    border-width: 2px;
    color:black;
    text-decoration: none;
    margin: 15vh 1vw 0 2vw;
}

.nav_site:hover {
    color: #c26c07;

}

.nav:active{
    background-color: black;
}

.login{
    background-color: #c26c07;
    color: black;
}

.login:hover{
    color: #f0ba00;
}

